.headcapsule
{
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    height: 75px;
    background: #FCD739;
    font-family: Verdana, Tahoma, sans-serif;
}

.headertitle
{
    color: #662C25;
    font-family: Marvel;
}

.logoimg
{
    padding-left: 15px;
}

/* Footer */

.footercapsule
{
    width: 100%;
    height: 105px;
    background: #FCD739;
    margin-top: 50px;
}